<!doctype html>
<html lang="en">
<head>
    {{#if page_title}}<title>{{page_title}}</title>{{else}}Decentral Classroom{{/if}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://t.ly/9jjj">
    <link rel="stylesheet" href="https://t.ly/HsGd">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&subset=latin-ext">
    <!--    {>meta_tags}}-->
</head>
<body>
<div id="wrapper">
    {{#unless no_navbar}}
        {{>navbar}}
    {{/unless}}
    {{{body}}}
    <!--    {>footer}}-->
</div>

<script src="https://t.ly/P8Vv"></script>
<script src="https://t.ly/lume"></script>
</body>
</html>
