<div class="container">
    <div class="row">
        <div class="col-xl-12" style="text-align: center">
            <br><br><h1><mark class="color"> Day 1</mark></h1><br><br><br>
        </div>
    </div>
</div>

<div class="container">
    <div class="dashboard-box margin-top-0">

        <!-- Headline -->
        <div class="headline">
            <h3>Welcome - Day 1</h3>
        </div>
        <div class="content">
            <ul class="dashboard-box-list margin-left-30 margin-right-30 margin-bottom-30 margin-top-30">
            <div class="empty-state-1">
                <img src="https://img.icons8.com/emoji/2x/waving-hand-emoji.png"><br><br>
                <p>Hey everyone, I am Robin Kapoor and I will be your instructor for this course. It is 30 day course, and today is Day 1 of 30.<br><br>To kick things off, our Day 1 lecture will bring the designer out of you. We will be using Canva to create a social media post. Sounds tough? Trust me, it isn't.<br><br>For those who don't know, Canva is an online graphic design tool that can be used to create images, videos, and much more. What makes Canva great is the built-in templates and its easy to use interface. Canva is used by over 15 million users and the major reason behind its popularity is that it is beginner-friendly.<br><br>We have linked a 20-minute video below that will help you get started with Canva. It covers everything from how to sign up for Canva to how to make a video. Canva really is that simple!<br><br>
            </p>
            </div>
            </ul>

        </div>
<!--        <div class="plyr__video-embed" id="player" style="margin-top: 0; margin-bottom: 0; margin-left: 100; margin-right: 100; padding-top: 0; padding-bottom: 0; padding-left: 100; padding-right: 100;">-->
<!--            <iframe id="video_src" src="https://www.youtube.com/embed/YJ5mdUH8UgY?iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>-->
<!--        </div>-->
    </div>
</div>
<br>
<div class="container">
    <div class="dashboard-box margin-top-0">

        <!-- Headline -->
        <div class="headline">
            <h3>Lecture - Day 1</h3>
        </div>
<div class="plyr__video-embed" id="player" style="margin-top: 0; margin-bottom: 0; margin-left: 100; margin-right: 100; padding-top: 0; padding-bottom: 0; padding-left: 100; padding-right: 100;">
    <iframe id="video_src" src="https://www.youtube.com/embed/YJ5mdUH8UgY?iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>
</div>
    </div>
</div>
<br><br>
<div class="container">
    <div class="dashboard-box margin-top-0">

        <!-- Headline -->
        <div class="headline">
            <h3>Assignment - Day 1</h3>
        </div>
        <div class="content">
            <ul class="dashboard-box-list margin-left-30 margin-right-30 margin-bottom-30 margin-top-30">
                <div class="empty-state-1">
                    <img src="https://img.icons8.com/nolan/2x/assignment-turned-in.png"><br><br>
                    <p>Your task would be to watch the video linked below and create a video as shown at the end of the video lecture (your video should be similar to the one shown at 18 minutes, 15 seconds in the linked YouTube video).<br><br>After completing the assignment, email your mp4 video as a reply to the assignment email you would have received from me. I have attached a sample video to give you an idea of how the submission must be.<br><br>If you have any doubts during the course, you can ask them while emailing me your assignment.<br><br></p>
                </div>
            </ul>

        </div>
        <!--        <div class="plyr__video-embed" id="player" style="margin-top: 0; margin-bottom: 0; margin-left: 100; margin-right: 100; padding-top: 0; padding-bottom: 0; padding-left: 100; padding-right: 100;">-->
        <!--            <iframe id="video_src" src="https://www.youtube.com/embed/YJ5mdUH8UgY?iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>-->
        <!--        </div>-->
    </div>
</div>
<br>
<div class="container">
    <div class="dashboard-box margin-top-0">

        <!-- Headline -->
        <div class="headline">
            <h3>Sample Assignment</h3>
        </div>
        <div class="plyr__video-embed" id="player2" style="margin-top: 0; margin-bottom: 0; margin-left: 100; margin-right: 100; padding-top: 0; padding-bottom: 0; padding-left: 100; padding-right: 100;">
            <iframe id="video_src" src="https://www.youtube.com/embed/UMOe0glzPmU?iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>
        </div>
    </div>
</div>
<br><br>
<div class="container">
    <div class="dashboard-box margin-top-0">

        <!-- Headline -->
        <div class="headline">
            <h3>Assignment Submissions</h3>
        </div>
        <div class="content with-padding">
            <h3>You can email me your assignment after completion by clicking on following button:<br><br></h3>
            <div class="row centered-button">
                <a href="mailto:hr.robinkapoor@gmail.com?subject=Day%201%20Assignment%20Submission&body=Hello%20Sir%2C%0A%0APlease%20find%20attached%20my%20assignment%20for%20Day%201.%0A%0AThank%20you" class="button button-sliding-icon gray big ripple-effect margin-top-10 margin-bottom-10">Submit Assignment <i class="icon-material-outline-arrow-right-alt"></i></a>
            </div><br><br>
            <div style="text-align: center">
                <h4>Deadline: <span id="event_date">Tomorrow</span></h4>
            </div>
            <script>
                tomorrow_date = new Date(); tomorrow_date.setDate(tomorrow_date.getDate() + 3); tomorrow_date = tomorrow_date.toLocaleString("en-US", { year: "numeric", month: "long", day: "2-digit" });
                document.getElementById("event_date").innerHTML = tomorrow_date;
            </script>
        </div>
    </div>
</div>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-xl-12" style="text-align: center">
            <br><br><h3><mark class="color"><strong>📅 Day 2 will unlock tomorrow</strong></mark></h3><br><br><br>
        </div>
    </div>
</div>
<link href="https://assets.hirecream.com/static/hirecream-video.min.css" rel="stylesheet">
<script src="https://assets.hirecream.com/static/hirecream-video.min.js"></script>
<script>const player = new Plyr(document.getElementById("player"));const player2 = new Plyr(document.getElementById("player2"));</script>

<script>document.body.style.zoom=1.1</script>
