<div class="container">
    <div class="row">
        <div class="col-xl-12" style="text-align: center">
            <br><br><h1><mark class="color"> Day 2</mark></h1><br><br><br>
        </div>
    </div>
</div>

<div class="container">
    <div class="dashboard-box margin-top-0">

        <!-- Headline -->
        <div class="headline">
            <h3>Welcome - Day 2</h3>
        </div>
        <div class="content">
            <ul class="dashboard-box-list margin-left-30 margin-right-30 margin-bottom-30 margin-top-30">
                <div class="empty-state-1">
                    <img src="https://img.icons8.com/emoji/2x/waving-hand-emoji.png"><br><br>
                    <p>You all did very well in the first assignment. I have to say I was left impressed seeing all of you put in such great efforts. You now have a basic understanding of Canva and we shall continue expanding it with this assignment.<br><br> I have attached a video lecture that covers the entire process of creating a social media post. The video also covers finer aspects such as sources where you can obtain copyright-free images from. You have time till midnight tomorrow to complete this assignment.<br><br>
                    </p>
                </div>
            </ul>

        </div>
        <!--        <div class="plyr__video-embed" id="player" style="margin-top: 0; margin-bottom: 0; margin-left: 100; margin-right: 100; padding-top: 0; padding-bottom: 0; padding-left: 100; padding-right: 100;">-->
        <!--            <iframe id="video_src" src="https://www.youtube.com/embed/YJ5mdUH8UgY?iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>-->
        <!--        </div>-->
    </div>
</div>
<br>
<div class="container">
    <div class="dashboard-box margin-top-0">

        <!-- Headline -->
        <div class="headline">
            <h3>Lecture - Day 2</h3>
        </div>
        <div class="plyr__video-embed" id="player" style="margin-top: 0; margin-bottom: 0; margin-left: 100; margin-right: 100; padding-top: 0; padding-bottom: 0; padding-left: 100; padding-right: 100;">
            <iframe id="video_src" src="https://www.youtube.com/embed/Wl_tkLP86yQ?iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>
        </div>
    </div>
</div>
<br><br>
<div class="container">
    <div class="dashboard-box margin-top-0">

        <!-- Headline -->
        <div class="headline">
            <h3>Assignment - Day 2</h3>
        </div>
        <div class="content">
            <ul class="dashboard-box-list margin-left-30 margin-right-30 margin-bottom-30 margin-top-30">
                <div class="empty-state-1">
                    <img src="https://img.icons8.com/nolan/2x/assignment-turned-in.png"><br><br>
                    <p>Your task for this assignment is to create 5 social media posts (Facebook or Instagram images). Three of these images must include your favorite quotes and the other two should be of Christmas and New Year. If you need some help in finding quotes, you can refer to BrainyQuote: <a href="https://www.brainyquote.com/topics/find-quotes" target="_blank">https://www.brainyquote.com/topics/find-quotes</a> <br><br> Once you have made the images, click on the "Submit Assignment" button below to send me the email with attachments. <br><br> If you have any queries, put them in the email and I will get back at the earliest. Cheers!<br><br></p>
                </div>
            </ul>

        </div>
        <!--        <div class="plyr__video-embed" id="player" style="margin-top: 0; margin-bottom: 0; margin-left: 100; margin-right: 100; padding-top: 0; padding-bottom: 0; padding-left: 100; padding-right: 100;">-->
        <!--            <iframe id="video_src" src="https://www.youtube.com/embed/YJ5mdUH8UgY?iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>-->
        <!--        </div>-->
    </div>
</div>
<br><br>
<div class="container">
    <div class="dashboard-box margin-top-0">

        <!-- Headline -->
        <div class="headline">
            <h3>Assignment Submissions</h3>
        </div>
        <div class="content with-padding">
            <h3>You can email me your assignment after completion by clicking on following button:<br><br></h3>
            <div class="row centered-button">
                <a href="mailto:hr.robinkapoor@gmail.com?subject=Day%202%20Assignment%20Submission&body=Hello%20Sir%2C%0A%0APlease%20find%20attached%20my%20assignment%20for%20Day%202.%0A%0AThank%20you" class="button button-sliding-icon gray big ripple-effect margin-top-10 margin-bottom-10">Submit Assignment <i class="icon-material-outline-arrow-right-alt"></i></a>
            </div><br><br>
            <div style="text-align: center">
                <h4>Deadline: <span id="event_date">Tomorrow</span></h4>
            </div>
            <script>
                tomorrow_date = new Date(); tomorrow_date.setDate(tomorrow_date.getDate() + 5); tomorrow_date = tomorrow_date.toLocaleString("en-US", { year: "numeric", month: "long", day: "2-digit" });
                document.getElementById("event_date").innerHTML = tomorrow_date;
            </script>
        </div>
    </div>
</div>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-xl-12" style="text-align: center">
            <br><br><h3><mark class="color"><strong>📅 Day 3 will unlock tomorrow</strong></mark></h3><br><br><br>
        </div>
    </div>
</div>
<link href="https://assets.hirecream.com/static/hirecream-video.min.css" rel="stylesheet">
<script src="https://assets.hirecream.com/static/hirecream-video.min.js"></script>
<script>const player = new Plyr(document.getElementById("player"));const player2 = new Plyr(document.getElementById("player2"));</script>
