<div class="container">
    <div class="row">
        <div class="col-xl-12" style="text-align: center">
            <br><br><h1><mark class="color"> Day 3</mark></h1><br><br><br>
        </div>
    </div>
</div>

<div class="container">
    <div class="dashboard-box margin-top-0">

        <!-- Headline -->
        <div class="headline">
            <h3>Welcome - Day 3</h3>
        </div>
        <div class="content">
            <ul class="dashboard-box-list margin-left-30 margin-right-30 margin-bottom-30 margin-top-30">
                <div class="empty-state-1">
                    <img src="https://img.icons8.com/emoji/2x/waving-hand-emoji.png"><br><br>
                    <p>All of you now have a basic understanding of Canva and how to use it. <br><br> I have attached a video lecture that explains the step-by-step process of designing the resume. Here are some pointers that you have to keep in mind while making the resume:<br><br></p>
                </div>
            </ul>

        </div>
        <!--        <div class="plyr__video-embed" id="player" style="margin-top: 0; margin-bottom: 0; margin-left: 100; margin-right: 100; padding-top: 0; padding-bottom: 0; padding-left: 100; padding-right: 100;">-->
        <!--            <iframe id="video_src" src="https://www.youtube.com/embed/YJ5mdUH8UgY?iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>-->
        <!--        </div>-->
    </div>
</div>
<br>
<div class="container">
    <div class="dashboard-box margin-top-0">

        <!-- Headline -->
        <div class="headline">
            <h3>Lecture - Day 3</h3>
        </div>
        <div class="plyr__video-embed" id="player" style="margin-top: 0; margin-bottom: 0; margin-left: 100; margin-right: 100; padding-top: 0; padding-bottom: 0; padding-left: 100; padding-right: 100;">
            <iframe id="video_src" src="https://www.youtube.com/embed/7Tqidswo2i4?iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>
        </div>
    </div>
</div>
<br><br>
<div class="container">
    <div class="dashboard-box margin-top-0">

        <!-- Headline -->
        <div class="headline">
            <h3>Assignment - Day 3</h3>
        </div>
        <div class="content">
            <ul class="dashboard-box-list margin-left-30 margin-right-30 margin-bottom-30 margin-top-30">
                <div class="empty-state-1">
                    <img src="https://img.icons8.com/nolan/2x/assignment-turned-in.png"><br><br>
                    <p>Your next task is to make a professional resume on Canva.<br><br> - Your resume must have a professional-looking photograph<br> - Please mention that you are pursuing a "Digital Marketing Training" with Digital Guru<br> - After you have made the resume, you have to add the social media posts you made in the second assignment. Your submission will have at least three pages: the first page will be the resume itself, the second page will have the title 'Work Samples', and from the third page onward you have to include the social media posts.<br> - You are free to use your creativity for designing the second page with the title 'Work Samples'. Play with different font styles, colors, add elements from the Canva library, etc. You can do whatever you want.<br> - You also have the complete freedom for tweaking the layout of the pages containing the social media posts. Make sure that the resume looks good and arranged. The design must be consistent throughout all the pages.<br><br> After completing the assignment, click on the "Submit Assignment" button below to send me the email with the resume attachment. <br><br> Note: Do not send your old resume. Create a new resume using Canva.<br><br></p></div>
            </ul>

        </div>
        <!--        <div class="plyr__video-embed" id="player" style="margin-top: 0; margin-bottom: 0; margin-left: 100; margin-right: 100; padding-top: 0; padding-bottom: 0; padding-left: 100; padding-right: 100;">-->
        <!--            <iframe id="video_src" src="https://www.youtube.com/embed/YJ5mdUH8UgY?iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>-->
        <!--        </div>-->
    </div>
</div>
<br><br>
<div class="container">
    <div class="dashboard-box margin-top-0">

        <!-- Headline -->
        <div class="headline">
            <h3>Assignment Submissions</h3>
        </div>
        <div class="content with-padding">
            <h3>You can email me your assignment after completion by clicking on following button:<br><br></h3>
            <div class="row centered-button">
                <a href="mailto:hr.robinkapoor@gmail.com?subject=Day%203%20Assignment%20Submission&body=Hello%20Sir%2C%0A%0APlease%20find%20attached%20my%20assignment%20for%20Day%203.%0A%0AThank%20you" class="button button-sliding-icon gray big ripple-effect margin-top-10 margin-bottom-10">Submit Assignment <i class="icon-material-outline-arrow-right-alt"></i></a>
            </div><br><br>
            <div style="text-align: center">
                <h4>Deadline: <span id="event_date">Tomorrow</span></h4>
            </div>
            <script>
                tomorrow_date = new Date(); tomorrow_date.setDate(tomorrow_date.getDate() + 7); tomorrow_date = tomorrow_date.toLocaleString("en-US", { year: "numeric", month: "long", day: "2-digit" });
                document.getElementById("event_date").innerHTML = tomorrow_date;
            </script>
        </div>
    </div>
</div>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-xl-12" style="text-align: center">
            <br><br><h3><mark class="color"><strong>📅 Day 4 will unlock tomorrow</strong></mark></h3><br><br><br>
        </div>
    </div>
</div>
<link href="https://assets.hirecream.com/static/hirecream-video.min.css" rel="stylesheet">
<script src="https://assets.hirecream.com/static/hirecream-video.min.js"></script>
<script>const player = new Plyr(document.getElementById("player"));const player2 = new Plyr(document.getElementById("player2"));</script>
