<div class="container">
    <div class="row">
        <div class="col-xl-12" style="text-align: center">
            <br><br><h1><mark class="color"> Day 4</mark></h1><br><br><br>
        </div>
    </div>
</div>

<div class="container">
    <div class="dashboard-box margin-top-0">

        <!-- Headline -->
        <div class="headline">
            <h3>Welcome - Day 4</h3>
        </div>
        <div class="content">
            <ul class="dashboard-box-list margin-left-30 margin-right-30 margin-bottom-30 margin-top-30">
                <div class="empty-state-1">
                    <img src="https://img.icons8.com/emoji/2x/waving-hand-emoji.png"><br><br>
                    <pEmail is one of the most widely used forms of communication both in and out of the workplace. Because of its speed and efficiency, you will likely use email in some capacity no matter your role or industry. You can write professional emails for a variety of reasons. <br><br>In this lesson, you’ll learn how to draft an appropriate email.<br><br></p>
                </div>
            </ul>

        </div>
        <!--        <div class="plyr__video-embed" id="player" style="margin-top: 0; margin-bottom: 0; margin-left: 100; margin-right: 100; padding-top: 0; padding-bottom: 0; padding-left: 100; padding-right: 100;">-->
        <!--            <iframe id="video_src" src="https://www.youtube.com/embed/YJ5mdUH8UgY?iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>-->
        <!--        </div>-->
    </div>
</div>
<br>
<div class="container">
    <div class="dashboard-box margin-top-0">

        <!-- Headline -->
        <div class="headline">
            <h3>Lecture - Day 4</h3>
        </div>
        <div class="plyr__video-embed" id="player" style="margin-top: 0; margin-bottom: 0; margin-left: 100; margin-right: 100; padding-top: 0; padding-bottom: 0; padding-left: 100; padding-right: 100;">
            <iframe id="video_src" src="https://www.youtube.com/embed/3Tu1jN65slw?iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>
        </div>
    </div>
</div>
<br><br>
<div class="container">
    <div class="dashboard-box margin-top-0">

        <!-- Headline -->
        <div class="headline">
            <h3>Assignment - Day 4</h3>
        </div>
        <div class="content">
            <ul class="dashboard-box-list margin-left-30 margin-right-30 margin-bottom-30 margin-top-30">
                <div class="empty-state-1">
                    <img src="https://img.icons8.com/nolan/2x/assignment-turned-in.png"><br><br>
                    <p>After watching the lesson, draft an email for pitching your "Digital Marketing Services" to a travel agency. <br><br>After completing the assignment, click on the "Submit Assignment" button below to send me the email with your draft email in PDF format. <br><br></p></div>
            </ul>

        </div>
        <!--        <div class="plyr__video-embed" id="player" style="margin-top: 0; margin-bottom: 0; margin-left: 100; margin-right: 100; padding-top: 0; padding-bottom: 0; padding-left: 100; padding-right: 100;">-->
        <!--            <iframe id="video_src" src="https://www.youtube.com/embed/YJ5mdUH8UgY?iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>-->
        <!--        </div>-->
    </div>
</div>
<br><br>
<div class="container">
    <div class="dashboard-box margin-top-0">

        <!-- Headline -->
        <div class="headline">
            <h3>Assignment Submissions</h3>
        </div>
        <div class="content with-padding">
            <h3>You can email me your assignment after completion by clicking on following button:<br><br></h3>
            <div class="row centered-button">
                <a href="mailto:hr.robinkapoor@gmail.com?subject=Day%204%20Assignment%20Submission&body=Hello%20Sir%2C%0A%0APlease%20find%20attached%20my%20assignment%20for%20Day%204.%0A%0AThank%20you" class="button button-sliding-icon gray big ripple-effect margin-top-10 margin-bottom-10">Submit Assignment <i class="icon-material-outline-arrow-right-alt"></i></a>
            </div><br><br>
            <div style="text-align: center">
                <h4>Deadline: <span id="event_date">Tomorrow</span></h4>
            </div>
            <script>
                tomorrow_date = new Date(); tomorrow_date.setDate(tomorrow_date.getDate() + 9); tomorrow_date = tomorrow_date.toLocaleString("en-US", { year: "numeric", month: "long", day: "2-digit" });
                document.getElementById("event_date").innerHTML = tomorrow_date;
            </script>
        </div>
    </div>
</div>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-xl-12" style="text-align: center">
            <br><br><h3><mark class="color"><strong>📅 Day 5 will unlock tomorrow</strong></mark></h3><br><br><br>
        </div>
    </div>
</div>
<link href="https://assets.hirecream.com/static/hirecream-video.min.css" rel="stylesheet">
<script src="https://assets.hirecream.com/static/hirecream-video.min.js"></script>
<script>const player = new Plyr(document.getElementById("player"));const player2 = new Plyr(document.getElementById("player2"));</script>
