<div class="container">
    <div class="row">
        <div class="col-xl-12" style="text-align: center">
            <br><br><h1><mark class="color"> Welcome</mark></h1><br><br><br>
        </div>
    </div>
</div>

<div class="container">
    <div class="dashboard-box margin-top-0">

        <!-- Headline -->
        <div class="headline">
            <h3>Welcome to the Course</h3>
        </div>
        <div class="content-with-padding">
            <ul class="dashboard-box-list margin-left-30 margin-right-30 margin-bottom-30 margin-top-30">
                <div class="empty-state-1">
                    <img src="https://img.icons8.com/emoji/2x/waving-hand-emoji.png"><br><br>
                    <h4>Hello, we have accepted your application for the Digital Marketing Program. <br><br> We will shortly send you all the details and syllabus on your email.<br><br>
                        <strong><u>Program Structure:</u></strong><br><br>
                        <mark class="color">Week 1</mark>: Basics of Marketing and Building an awesome Resume<br><br>
                        <mark>End of Week 1</mark>: Paid Internship Opportunity<br><br>
                        <mark class="color">Week 2</mark>: Social Media Marketing<br><br>
                        <mark>End of Week 2</mark>: Live Project<br><br>
                        <mark class="color">Week 3</mark>: Building your Website<br><br>
                        <mark>End of Week 3</mark>: Live Expert Session<br><br>
                        <mark class="color">Week 4</mark>: Advance Marketing Concepts<br><br>
                        <mark>End of Week 4</mark>: Award Ceremony and Certificate Distribution<br><br><br>
                    </h4>
                    <h3>We can't wait to get started. We will be shortly emailing  you access to the course!</h3>
                    <br>
                </div>
            </ul>

        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-xl-12" style="text-align: center">
            <br><br><h3><mark class="color"> Course Material:</mark></h3><br>
        </div>
    </div>
</div>
<div class="container">
<div class="col-xl-12">
    <div class="companies-list">
        <a href="#" class="company">
            <div class="company-inner-alignment">
                <span class="company-logo"><img src="https://img.icons8.com/plasticine/2x/lock.png" alt=""></span>
                <h4>Day 1</h4>
                <span class="company-not-rated" style="background-color: #2a41e8; color: #FFFFFF">Introduction</span>
            </div>
        </a>
        <a href="#" class="company">
            <div class="company-inner-alignment">
                <span class="company-logo"><img src="https://img.icons8.com/plasticine/2x/lock.png" alt=""></span>
                <h4>Day 2</h4>
                <span class="company-not-rated" style="background-color: #2a41e8; color: #FFFFFF">Using Canva</span>
            </div>
        </a>
        <a href="#" class="company">
            <div class="company-inner-alignment">
                <span class="company-logo"><img src="https://img.icons8.com/plasticine/2x/lock.png" alt=""></span>
                <h4>Day 3</h4>
                <span class="company-not-rated" style="background-color: #2a41e8; color: #FFFFFF">Creating Social Media Posts</span>
            </div>
        </a>
        <a href="#" class="company">
            <div class="company-inner-alignment">
                <span class="company-logo"><img src="https://img.icons8.com/plasticine/2x/lock.png" alt=""></span>
                <h4>Day 4</h4>
                <span class="company-not-rated" style="background-color: #2a41e8; color: #FFFFFF">Making a Professional Resume</span>
            </div>
        </a>
        <a href="#" class="company">
            <div class="company-inner-alignment">
                <span class="company-logo"><img src="https://img.icons8.com/plasticine/2x/lock.png" alt=""></span>
                <h4>Day 5</h4>
                <span class="company-not-rated" style="background-color: #2a41e8; color: #FFFFFF">Social Media Marketing Magic</span>
            </div>
        </a>
        <a href="#" class="company">
            <div class="company-inner-alignment">
                <span class="company-logo"><img src="https://img.icons8.com/plasticine/2x/lock.png" alt=""></span>
                <h4>Day 6</h4>
                <span class="company-not-rated" style="background-color: #2a41e8; color: #FFFFFF">Copywriting Magic</span>
            </div>
        </a>
        <a href="#" class="company">
            <div class="company-inner-alignment">
                <span class="company-logo"><img src="https://img.icons8.com/plasticine/2x/lock.png" alt=""></span>
                <h4>Day 7</h4>
                <span class="company-not-rated" style="background-color: #2a41e8; color: #FFFFFF">Internship Opportunity</span>
            </div>
        </a>
        <a href="#" class="company">
            <div class="company-inner-alignment">
                <span class="company-logo"><img src="https://img.icons8.com/plasticine/2x/lock.png" alt=""></span>
                <h4>Day 8</h4>
                <span class="company-not-rated" style="background-color: #2a41e8; color: #FFFFFF">Live Doubt Session</span>
            </div>
        </a>
        <a href="#" class="company">
            <div class="company-inner-alignment">
                <span class="company-logo"><img src="https://img.icons8.com/plasticine/2x/lock.png" alt=""></span>
                <h4>Day 9</h4>
                <span class="company-not-rated" style="background-color: #2a41e8; color: #FFFFFF">Building your First Website</span>
            </div>
        </a>
    </div>
</div>
</div>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-xl-12" style="text-align: center">
            <br><br><h3><mark><strong>Your instructor will keep unlocking the content daily</strong></mark></h3><br><br><br>
        </div>
    </div>
</div>
