<div class="container">
    <div class="row">
        <div class="col-xl-12" style="text-align: center">
            <br><br><h3><mark class="color"> <strong>Internship Opportunity</strong></mark></h3><br><br><br>
        </div>
    </div>
</div>
<br><br>
<div class="container">
    <div class="dashboard-box margin-top-0">
        <div class="headline">
            <h3>Internship Opportunity</h3>
        </div>
        <div class="content margin-top-50 margin-bottom-10">
            <!-- Container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="order-confirmation-page">
                            <div class="breathing-icon"><i class="icon-material-outline-lock"></i></div>
                            <h2 class="margin-top-30">Internship section is locked!</h2>
                            <p>The internship opportunity section will be unlocked in 7 days!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-xl-12" style="text-align: center">
            <br><br><h3><mark><strong>Your course instructor will unlock paid internships for you</strong></mark></h3><br><br><br>
        </div>
    </div>
</div>
