<div class="container">
    <div class="row">
        <div class="col-xl-12" style="text-align: center">
            <br><br><h3><mark class="color"> <strong>Leaderboard</strong></mark></h3><br><br><br>
        </div>
    </div>
</div>-
<br>
<div class="container">
    <div class="col-xl-12">
        <table class="basic-table">

            <tr>
                <th>Position</th>
                <th>Name</th>
<!--                <th>Points</th>-->
            </tr>

            <tr>
                <td data-label="Position">1</td>
                <td data-label="Name">Amit Sharma</td>
                <!--                <td data-label="Points">10</td>-->
            </tr>
            <tr>
                <td data-label="Position">2</td>
                <td data-label="Name">Ananya Singh</td>
                <!--                <td data-label="Points">10</td>-->
            </tr>
            <tr>
                <td data-label="Position">3</td>
                <td data-label="Name">Aarti Chopra</td>
                <!--                <td data-label="Points">10</td>-->
            </tr>
            <tr>
                <td data-label="Position">3</td>
                <td data-label="Name">Gopa Trilochana</td>
                <!--                <td data-label="Points">10</td>-->
            </tr>
            <tr>
                <td data-label="Position">4</td>
                <td data-label="Name">Hardeep Suksma</td>
                <!--                <td data-label="Points">10</td>-->
            </tr>
            <tr>
                <td data-label="Position">5</td>
                <td data-label="Name">Basanti Yogendra</td>
                <!--                <td data-label="Points">10</td>-->
            </tr>
            <tr>
                <td data-label="Position">6</td>
                <td data-label="Name">Annanya Shvetank</td>
                <!--                <td data-label="Points">10</td>-->
            </tr>

            <tr>
                <td data-label="Position">..</td>
                <td data-label="Name">....</td>
                <!--                <td data-label="Points">10</td>-->
            </tr>

            <tr>

                <td data-label="Position"><mark><strong>121</strong></mark></td>
                <td data-label="Name"><mark><strong>{{user.first_name}} {{user.last_name}}</strong></mark></td>
                <!--                <td data-label="Points">10</td>-->

            </tr>


            <tr>
                <td data-label="Position">..</td>
                <td data-label="Name">....</td>
                <!--                <td data-label="Points">10</td>-->
            </tr>
            <tr>
                <td data-label="Position">224</td>
                <td data-label="Name">Anand Ahuja</td>
                <!--                <td data-label="Points">10</td>-->
            </tr>
            <tr>
                <td data-label="Position">225</td>
                <td data-label="Name">Tina Joshi</td>
                <!--                <td data-label="Points">10</td>-->
            </tr>
        </table>
    </div>
</div>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-xl-12" style="text-align: center">
            <br><br><h3><mark><strong>The position is decided according to points earned by submitting assignments timely</strong></mark></h3><br><br><br>
        </div>
    </div>
</div>
